<table cellspacing="0" cellpadding="0" border="0" width="100%">
    <tbody>
        <tr>
            <td style="padding:30px 52px"><img style="height:120px;" src="https://zoho.omnigroup.com.au/assets/images/logo1.png">
            </td>
            <td style="padding:30px 32px" align="right"><img style="height:120px;" src="https://zoho.omnigroup.com.au/assets/images/logo2.png"></td>
        </tr>
        <tr>
            <td colspan="2" style="font-size: 1.6rem;padding:30px 55px">Omni Group has been Engineering to Perfection Packaging Solutions for over 25 years. The Omni Brand is renowned for providing quality and customised Packaging Solutions as a result of continual innovation and development to perfect its whole
                range.
                <br><br> As specialists in pallet load containment and end of line packing solutions, you can rely on us as the industry experts. As a result our of experience and knowledge in the industry, our strong reputation has come from cutting
                edge product innovation with the focus to reduce the cost and environmental impact of packaging products. Industry innovators are the industry leaders.</td>
        </tr>
        <tr>
            <td colspan="2" style="padding:30px 55px" align="center">
                <img src="https://zoho.omnigroup.com.au/assets/images/backpage.png" width="90%"> </td>
        </tr>
        <tr>
            <td colspan="2" style="font-size: 1.6rem;font-weight: bold;padding:30px 55px" align="center">
                Our Promise is to respond promptly and resolve effectively so you can rely unconditionally on what we do. For us it is... </td>
        </tr>
        <tr>
            <td colspan="2" style="padding:30px 55px" align="center">
                <img src="https://zoho.omnigroup.com.au/assets/images/not-a-problem.png" height="60px"> </td>
        </tr>
        <tr>
            <td colspan="2" style="padding:30px 55px">
                <table cellspacing="0" cellpadding="2" border="0" width="100%">
                    <tr>
                        <td colspan="2" style="color: #e1403d;font-weight: bold;font-size: 1.4rem">Offices :</td>
                    </tr>
                    <tr>
                        <td width="25%" style="font-size: 1.4rem"><span style="font-weight: bold;font-size:1.4rem"> Victoria </span>(Head Office)</td>
                        <td width="75%" style="font-size: 1.4rem">15-23 Logistics St, Keilor Park VIC 3042</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;font-size:1.4rem">New South Wales</td>
                        <td style="font-size: 1.4rem">18 Yulong Close, Moorebank NSW 2565</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;font-size:1.4rem">South Australia</td>
                        <td style="font-size: 1.4rem">8 Holder Avenue, Richmond, SA 5033</td>
                    </tr>
                    <tr>
                        <td colspan="2" style="color: #e1403d;padding-top:25px;font-size: 1.6rem;font-weight: bold">Distribution Centres :</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;font-size: 1.4rem">Victoria</td>
                        <td style="font-size: 1.4rem">15-23 Logistics St, Keilor Park VIC 3042</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;font-size: 1.4rem">New South Wales</td>
                        <td style="font-size: 1.4rem">18 Yulong Close, Moorebank NSW 2565</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;font-size: 1.4rem">South Australia</td>
                        <td style="font-size: 1.4rem">160 Churchill Road, North Cavan, SA 5094</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;font-size: 1.4rem">Queensland</td>
                        <td style="font-size: 1.4rem">60 Fulcrum St, Richlands, QLD 4077</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;font-size: 1.4rem">Western Australia</td>
                        <td style="font-size: 1.4rem">800 - 820 Abernethy Road, Forrestfield WA 6058</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;font-size: 1.4rem">New Zealand</td>
                        <td style="font-size: 1.4rem">1 Wilco Place, Manukua NZ 2104</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="padding:75px 55px 0px 55px" align="center">
                <img src="https://zoho.omnigroup.com.au/assets/images/footer.png" width="100%"></td>
        </tr>
    </tbody>
</table>