<input type="checkbox" id="hamburger" name="hamburger" />
<label for="hamburger"></label>
<div class="menu-container">
    <div class="menu"></div>
    <div class="links">
        <a href="/inventory-templates/packaging-solution/<%= quoteId %>/viewQuote" class="active">packaging solution</a>
        <a href="/inventory-templates/machine-base/<%= quoteId %>/viewQuote">machine base</a>
        <a href="/inventory-templates/proposal-3/<%= quoteId %>/viewQuote">proposal 3</a>
    </div>
</div>