<table cellspacing="0" cellpadding="0" border="0" width="100%">
    <tbody>
        <tr>
            <td colspan="2" style="padding:60px 55px">
                <img src="https://zoho.omnigroup.com.au/assets/images/omni-base.png" height="150px"> </td>
        </tr>
        <tr>
            <td colspan="2" style="font-size: 1.6rem;padding:30px 55px">
                The <span style="font-size: 1.6rem;font-weight: bold;">Omni Base Pallet Wrapper</span> has been designed to be capable to operate 24 hours a day. With a chain driven turntable and rack and pinion mast this machine will never let you down.
                With multiple programing to ensure all pallets are wrapped with optimum load containment as well an automatic cut off option this machine is what you require in a fast pace operation. Our Omni Pallet Wrappers have a unique power pre stretch
                system that allows stretch yields to over 400% to reduce film usage. </td>
        </tr>
        <tr>
            <td colspan="2" style="padding:30px 55px">
                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                    <tr>
                        <td> <img src="https://zoho.omnigroup.com.au/assets/images/award.png" height="240px"></td>
                    </tr>
                    <tr>
                        <td valign="middle" style="padding: 145px 0px;">
                            <table cellspacing="0" cellpadding="5" border="1" width="30%" style="border-collapse: collapse;border-color: #76797b;">
                                <tr>
                                    <td colspan="2" style="font-size: 1rem;background: #76797b;color:#fff;font-weight: bold">Specifications
                                    </td>
                                </tr>
                                <tr>
                                    <td width="50%" style="background: #f2f4f4;font-size: 1rem;">Height</td>
                                    <td width="50%" style="font-size: 1rem;">2466mm</td>
                                </tr>
                                <tr>
                                    <td style="background: #f2f4f4;font-size: 1rem;">Width</td>
                                    <td style="font-size: 1rem;">1650mm</td>
                                </tr>
                                <tr>
                                    <td style="background: #f2f4f4;font-size: 1rem;">Length</td>
                                    <td style="font-size: 1rem;">2380mm</td>
                                </tr>
                                <tr>
                                    <td style="background: #f2f4f4;font-size: 1rem;">Turntable Height</td>
                                    <td style="font-size: 1rem;">86mm</td>
                                </tr>
                                <tr>
                                    <td style="background: #f2f4f4;font-size: 1rem;">Machine Weight</td>
                                    <td style="font-size: 1rem;">400kg</td>
                                </tr>
                                <tr>
                                    <td style="background: #f2f4f4;font-size: 1rem;">Power Supply</td>
                                    <td style="font-size: 1rem;">240 Volt</td>
                                </tr>
                                <tr>
                                    <td style="background: #f2f4f4;font-size: 1rem;">Power Absorption</td>
                                    <td style="font-size: 1rem;">1kW</td>
                                </tr>
                                <tr>
                                    <td style="background: #f2f4f4;font-size: 1rem;">Weight Capacity</td>
                                    <td style="font-size: 1rem;">2500kg</td>
                                </tr>
                                <tr>
                                    <td style="background: #f2f4f4;font-size: 1rem;">Wrapping Height</td>
                                    <td style="font-size: 1rem;">2400mm</td>
                                </tr>

                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="right">
                            <div style="margin-top:-700px "><img src="https://zoho.omnigroup.com.au/assets/images/product4.png" width="90%"></div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </tbody>
</table>