<table cellspacing="0" cellpadding="0" border="0" width="100%">
    <tbody>
        <tr>
            <td colspan="2" style="padding: 150px 65px 30px 65px;font-size:1.6rem;font-weight: bold">
                Semi Automatic / Power Pre Stretch </td>
        </tr>
        <tr>
            <td style="font-size: 1.4rem;padding:0px 60px" width="60%" valign="top">
                <table cellspacing="0" cellpadding="4" border="0" width="100%">
                    <tr>
                        <td colspan="2" style="color:#a9abae;font-size:1.4rem; font-weight: bold">Product Specifications </td>
                    </tr>
                    <tr>
                        <td width="2%" style="font-size:1.2rem;" valign="top">&bull;</td>
                        <td width="98%" style="font-size:1.2rem;">Adjustable power pre-stretch</td>
                    </tr>
                    <tr>
                        <td style="font-size:1.2rem;" valign="top">&bull;</td>
                        <td style="font-size:1.2rem;" valign="top">Electronic printed circuit board for the management of the cycle</td>
                    </tr>
                    <tr>
                        <td style="font-size:1.2rem;" valign="top">&bull;</td>
                        <td style="font-size:1.2rem;" valign="top">Frequency controller for carriage speed adjustment</td>
                    </tr>
                    <tr>
                        <td style="font-size:1.2rem;" valign="top">&bull;</td>
                        <td style="font-size:1.2rem;" valign="top">Frequency controller for turntable speed adjustment</td>
                    </tr>
                    <tr>
                        <td style="font-size:1.2rem;" valign="top">&bull;</td>
                        <td style="font-size:1.2rem;" valign="top">Loading plate ø 1650 mm</td>
                    </tr>
                    <tr>
                        <td style="font-size:1.2rem;" valign="top">&bull;</td>
                        <td style="font-size:1.2rem;" valign="top">Maximum height of pallet: 2400 mm</td>
                    </tr>
                    <tr>
                        <td style="font-size:1.2rem;" valign="top">&bull;</td>
                        <td style="font-size:1.2rem;" valign="top">Maximum size of the pallet: 1200x1200 mm</td>
                    </tr>
                    <tr>
                        <td style="font-size:1.2rem;" valign="top">&bull;</td>
                        <td style="font-size:1.2rem;" valign="top">Maximum loading weight: 2500 kg</td>
                    </tr>
                    <tr>
                        <td style="font-size:1.2rem;" valign="top">&bull;</td>
                        <td style="font-size:1.2rem;" valign="top">Electromagnetic brake for the stretching of the film</td>
                    </tr>
                    <tr>
                        <td style="font-size:1.2rem;" valign="top">&bull;</td>
                        <td style="font-size:1.2rem;" valign="top">Photocell for pallet height detection</td>
                    </tr>
                    <tr>
                        <td style="font-size:1.2rem;" valign="top">&bull;</td>
                        <td style="font-size:1.2rem;" valign="top">Safety stop at the base of the carriage</td>
                    </tr>
                    <tr>
                        <td style="font-size:1.2rem;" valign="top">&bull;</td>
                        <td style="font-size:1.2rem;" valign="top">Stop at 0 position</td>
                    </tr>
                    <tr>
                        <td style="font-size:1.2rem;" valign="top">&bull;</td>
                        <td style="font-size:1.2rem;" valign="top">Power board IP54</td>
                    </tr>
                    <tr>
                        <td style="font-size:1.2rem;" valign="top">&bull;</td>
                        <td style="font-size:1.2rem;" valign="top">3 password levels (including lock password)</td>
                    </tr>
                    <tr>
                        <td style="font-size:1.2rem;" valign="top">&bull;</td>
                        <td style="font-size:1.2rem;" valign="top">Adjustable parameters by the control panel without password: cycle selection, bottom laps, top laps, topsheet cycle</td>
                    </tr>
                    <tr>
                        <td style="font-size:1.2rem;" valign="top">&bull;</td>
                        <td style="font-size:1.2rem;" valign="top">Parameters, rotation speed, carriage ascent speed, carriage descent speed, film tension, starting wrapping height</td>
                    </tr>
                    <tr>
                        <td style="font-size:1.2rem;" valign="top">&bull;</td>
                        <td style="font-size:1.2rem;" valign="top">6 working cycles: ascent/descent; topsheet; only ascent; only descent; layers; stack</td>
                    </tr>
                    <tr>
                        <td style="font-size:1.2rem;" valign="top">&bull;</td>
                        <td style="font-size:1.2rem;" valign="top">Storage of 32 end user programs</td>
                    </tr>
                    <tr>
                        <td style="font-size:1.2rem;" valign="top">&bull;</td>
                        <td style="font-size:1.2rem;" valign="top">3 working ways: semi manual, semiautomatic, fixed height</td>
                    </tr>
                    <tr>
                        <td style="font-size:1.2rem;" valign="top">&bull;</td>
                        <td style="font-size:1.2rem;" valign="top">Strengthening Operation</td>
                    </tr>
                    <tr>
                        <td style="font-size:1.2rem;" valign="top">&bull;</td>
                        <td style="font-size:1.2rem;" valign="top">Acoustic warning at the cycle start and stop</td>
                    </tr>
                    <tr>
                        <td style="font-size:1.2rem;" valign="top">&bull;</td>
                        <td style="font-size:1.2rem;" valign="top">Auto diagnostic</td>
                    </tr>
                    <tr>
                        <td style="font-size:1.2rem;" valign="top">&bull;</td>
                        <td style="font-size:1.2rem;" valign="top">Wrapped pallet counter</td>
                    </tr>
                    <tr>
                        <td style="font-size:1.2rem;" valign="top">&bull;</td>
                        <td style="font-size:1.2rem;" valign="top">Receiver for infrared/radio remote control</td>
                    </tr>
                    <tr>
                        <td style="font-size:1.2rem;" valign="top">&bull;</td>
                        <td style="font-size:1.2rem;" valign="top">Powder coating</td>
                    </tr>
                    <tr>
                        <td style="font-size:1.2rem;" valign="top">&bull;</td>
                        <td style="font-size:1.2rem;" valign="top">Braked turntable at the end of the cycle</td>
                    </tr>
                    <tr>
                        <td colspan="2" style="color:#a9abae;font-size:1.4rem; font-weight: bold;padding-top: 50px;">Extra Options</td>
                    </tr>
                    <tr>
                        <td style="font-size:1.2rem;" valign="top">–</td>
                        <td style="font-size:1.2rem;" valign="top">Top-press</td>
                    </tr>
                    <tr>
                        <td style="font-size:1.2rem;" valign="top">–</td>
                        <td style="font-size:1.2rem;" valign="top">Roping System</td>
                    </tr>
                    <tr>
                        <td style="font-size:1.2rem;" valign="top">–</td>
                        <td style="font-size:1.2rem;" valign="top">3000mm max wrapping height</td>
                    </tr>
                    <tr>
                        <td style="font-size:1.2rem;" valign="top">–</td>
                        <td style="font-size:1.2rem;" valign="top">1800mm turntable</td>
                    </tr>
                    <tr>
                        <td style="font-size:1.2rem;" valign="top">–</td>
                        <td style="font-size:1.2rem;" valign="top">Remote control</td>
                    </tr>
                    <tr>
                        <td style="font-size:1.2rem;" valign="top">–</td>
                        <td style="font-size:1.2rem;" valign="top">Ramp</td>
                    </tr>
                    <tr>
                        <td style="font-size:1.2rem;" valign="top">–</td>
                        <td style="font-size:1.2rem;" valign="top">Pit frame</td>
                    </tr>
                    <tr>
                        <td style="font-size:1.2rem;" valign="top">–</td>
                        <td style="font-size:1.2rem;" valign="top">Photocell for black stretch</td>
                    </tr>
                    <tr>
                        <td style="font-size:1.2rem;" valign="top">–</td>
                        <td style="font-size:1.2rem;" valign="top">Clip to tie the film to the turntable</td>
                    </tr>
                    <tr>
                        <td style="font-size:1.2rem;" valign="top">–</td>
                        <td style="font-size:1.2rem;" valign="top">Weighing system</td>
                    </tr>
                    <tr>
                        <td style="font-size:1.2rem;" valign="top">–</td>
                        <td style="font-size:1.2rem;" valign="top">Mechanical system to brake roll containers</td>
                    </tr>
                    <tr>
                        <td style="font-size:1.2rem;" valign="top">–</td>
                        <td style="font-size:1.2rem;" valign="top">Feet under the machine</td>
                    </tr>
                    <tr>
                        <td style="font-size:1.2rem;" valign="top">–</td>
                        <td style="font-size:1.2rem;" valign="top">Safety Fences</td>
                    </tr>
                    <tr>
                        <td style="font-size:1.2rem;" valign="top">–</td>
                        <td style="font-size:1.2rem;" valign="top">Anti static rollers</td>
                    </tr>
                </table>
            </td>
            <td width="40%" align="right" style="padding-right: 55px" valign="top">
                <table cellspacing="0" cellpadding="5" border="0" width="80%" align="right">
                    <tr>
                        <td><img src="https://zoho.omnigroup.com.au/assets/images/product3.png" width="100%"></td>
                    </tr>
                    <tr>
                        <td><img src="https://zoho.omnigroup.com.au/assets/images/product2.png" width="100%"></td>
                    </tr>
                    <tr>
                        <td><img src="https://zoho.omnigroup.com.au/assets/images/product1.png" width="100%"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </tbody>
</table>