       
<table cellspacing="0" cellpadding="0" border="0" width="100%" style="margin-top:-10px; line-height:2.8rem">
        <thead>
            <tr>
                <td style="padding:35px 32px" >&nbsp;</td>
                <td style="padding:35px 52px" align="right"><img style="height:120px;" src="https://zoho.omnigroup.com.au/assets/images/logo1.png">
                </td>
                
            </tr>
        </thead>
        <tbody>            
            <tr>
                <td style="font-size: 1.4rem;padding:0px 60px" width="70%" valign="top">
                    <table cellspacing="0" cellpadding="4" border="0" width="100%">
                        <tr>
                            <td colspan="2" style="color:#a9abae;font-size:1.4rem; font-weight: bold;margin-bottom:5px">Product Specifications </td>
                        </tr>                        
                        <tr>
                            <td style="font-size:1.2rem;" valign="top">&bull;</td>
                            <td style="font-size:1.2rem;" valign="top">Automatic cycle for film hooking, pallet wrapping, film cold cutting and lm hot sealing</td>
                        </tr>
                        <tr>
                            <td style="font-size:1.2rem;" valign="top">&bull;</td>
                            <td style="font-size:1.2rem;" valign="top">Air device to blow up the film tail</td>
                        </tr>
                        <tr>
                            <td style="font-size:1.2rem;" valign="top">&bull;</td>
                            <td style="font-size:1.2rem;" valign="top">Power pre-stretch carriage</td>
                        </tr>
                        <tr>
                            <td style="font-size:1.2rem;" valign="top">&bull;</td>
                            <td style="font-size:1.2rem;" valign="top">Electronic printed circuit board</td>
                        </tr>
                        <tr>
                            <td style="font-size:1.2rem;" valign="top">&bull;</td>
                            <td style="font-size:1.2rem;" valign="top">Frequency controller for carriage speed adjustment</td>
                        </tr>
                        <tr>
                            <td style="font-size:1.2rem;" valign="top">&bull;</td>
                            <td style="font-size:1.2rem;" valign="top">Frequency controller for turntable speed adjustment</td>
                        </tr>
                        <tr>
                            <td style="font-size:1.2rem;" valign="top">&bull;</td>
                            <td style="font-size:1.2rem;" valign="top">Loading plate ø 2000 mm</td>
                        </tr>
                        <tr>
                            <td style="font-size:1.2rem;" valign="top">&bull;</td>
                            <td style="font-size:1.2rem;" valign="top">Maximum height of pallet: 2400 mm</td>
                        </tr>
                        <tr>
                            <td style="font-size:1.2rem;" valign="top">&bull;</td>
                            <td style="font-size:1.2rem;" valign="top">Maximum size of the pallet: 1200 mm x 1200 mm</td>
                        </tr>
                        <tr>
                            <td style="font-size:1.2rem;" valign="top">&bull;</td>
                            <td style="font-size:1.2rem;" valign="top">Maximum loading weight: 2500 kg</td>
                        </tr>
                        <tr>
                            <td style="font-size:1.2rem;" valign="top">&bull;</td>
                            <td style="font-size:1.2rem;" valign="top">Photocell for pallet height detection</td>
                        </tr>
                        <tr>
                            <td style="font-size:1.2rem;" valign="top">&bull;</td>
                            <td style="font-size:1.2rem;" valign="top">Safety stop at the base of the carriage</td>
                        </tr>
                        <tr>
                            <td style="font-size:1.2rem;" valign="top">&bull;</td>
                            <td style="font-size:1.2rem;" valign="top">3 working ways: semi manual, semiautomatic, fixed height</td>
                        </tr>
                        <tr>
                            <td style="font-size:1.2rem;" valign="top">&bull;</td>
                            <td style="font-size:1.2rem;" valign="top">3 password levels (including lock password)</td>
                        </tr>
                        <tr>
                            <td style="font-size:1.2rem;" valign="top">&bull;</td>
                            <td style="font-size:1.2rem;" valign="top">Adjustable parameters by the control panel without password:
                                cycle selection, bottom laps, top laps, topsheet cycle parameters, rotation speed, carriage ascent speed, carriage descent speed,film tension, starting wrapping height</td>
                        </tr>
                        <tr>
                            <td style="font-size:1.2rem;" valign="top">&bull;</td>
                            <td style="font-size:1.2rem;" valign="top">3 working cycles: ascent/descent; topsheet; layers</td>
                        </tr>
                        <tr>
                            <td style="font-size:1.2rem;" valign="top">&bull;</td>
                            <td style="font-size:1.2rem;" valign="top">Storage of 32 end user programs</td>
                        </tr>
                        <tr>
                            <td style="font-size:1.2rem;" valign="top">&bull;</td>
                            <td style="font-size:1.2rem;" valign="top">Stop at 0 position</td>
                        </tr>
                        <tr>
                            <td style="font-size:1.2rem;" valign="top">&bull;</td>
                            <td style="font-size:1.2rem;" valign="top">Power board IP54</td>
                        </tr>
                        <tr>
                            <td style="font-size:1.2rem;" valign="top">&bull;</td>
                            <td style="font-size:1.2rem;" valign="top">Strengthening operation</td>
                        </tr>
                        <tr>
                            <td style="font-size:1.2rem;" valign="top">&bull;</td>
                            <td style="font-size:1.2rem;" valign="top">Acoustic warning at the cycle beginning and stop</td>
                        </tr>
                        <tr>
                            <td style="font-size:1.2rem;" valign="top">&bull;</td>
                            <td style="font-size:1.2rem;" valign="top">Auto diagnostic</td>
                        </tr>
                        <tr>
                            <td style="font-size:1.2rem;" valign="top">&bull;</td>
                            <td style="font-size:1.2rem;" valign="top">Wrapped pallet counter</td>
                        </tr>  
                        <tr>
                            <td style="font-size:1.2rem;" valign="top">&bull;</td>
                            <td style="font-size:1.2rem;" valign="top">Receiver for infrared/radio remote control</td>
                        </tr>                    
                        
                        <tr>
                            <td style="font-size:1.2rem;" valign="top">&bull;</td>
                            <td style="font-size:1.2rem;" valign="top">Braked turntable at the end of the cycle</td>
                        </tr>
                        <tr>
                            <td style="font-size:1.2rem;" valign="top">&bull;</td>
                            <td style="font-size:1.2rem;" valign="top">Powder coating</td>
                        </tr>
                        <tr>
                            <td colspan="2" style="color:#a9abae;font-size:1.4rem; font-weight: bold;padding-top: 50px;margin-bottom:5px">Extra Options</td>
                        </tr>
                        <tr>
                            <td style="font-size:1.2rem;" valign="top">–</td>
                            <td style="font-size:1.2rem;" valign="top">Top-press</td>
                        </tr>
                        <tr>
                            <td style="font-size:1.2rem;" valign="top">–</td>
                            <td style="font-size:1.2rem;" valign="top">Adjustable power pre-stretch</td>
                        </tr>
                        <tr>
                            <td style="font-size:1.2rem;" valign="top">–</td>
                            <td style="font-size:1.2rem;" valign="top">3000 mm max wrapping height</td>
                        </tr>
                        <tr>
                            <td style="font-size:1.2rem;" valign="top">–</td>
                            <td style="font-size:1.2rem;" valign="top">Photocell for black stretch wrap</td>
                        </tr>
                        <tr>
                            <td style="font-size:1.2rem;" valign="top">–</td>
                            <td style="font-size:1.2rem;" valign="top">Weighing system</td>
                        </tr>                        
                        <tr>
                            <td style="font-size:1.2rem;" valign="top">–</td>
                            <td style="font-size:1.2rem;" valign="top">Mechanical system to brake roll containers</td>
                        </tr>
                        <tr>
                            <td style="font-size:1.2rem;" valign="top">–</td>
                            <td style="font-size:1.2rem;" valign="top">Prestretch up to 420%</td>
                        </tr>                       
                        <tr>
                            <td style="font-size:1.2rem;" valign="top">–</td>
                            <td style="font-size:1.2rem;" valign="top">Remote control</td>
                        </tr>
                        <tr>
                            <td style="font-size:1.2rem;" valign="top">–</td>
                            <td style="font-size:1.2rem;" valign="top">Pit frame</td>
                        </tr>                    
                        <tr>
                            <td style="font-size:1.2rem;" valign="top">–</td>
                            <td style="font-size:1.2rem;" valign="top">Feet under the machine</td>
                        </tr>
                        <tr>
                            <td style="font-size:1.2rem;" valign="top">–</td>
                            <td style="font-size:1.2rem;" valign="top">Safety fences</td>
                        </tr>
                        <tr>
                            <td style="font-size:1.2rem;" valign="top">–</td>
                            <td style="font-size:1.2rem;" valign="top">Ramp</td>
                        </tr>
                        <tr>
                            <td style="font-size:1.2rem;" valign="top">–</td>
                            <td style="font-size:1.2rem;" valign="top">Anti static rollers</td>
                        </tr>
                    </table>
                </td>
                <td width="30%" align="right" style="padding-right: 55px" valign="top">
                    <table cellspacing="0" cellpadding="5" border="0" width="100%" align="right">
                        <tr>
                            <td><img src="https://zoho.omnigroup.com.au/assets/images/Omni-Quote-Template_Machine_Superplus-5_img1.png" width="100%"></td>
                        </tr>
                        <tr>
                            <td><img src="https://zoho.omnigroup.com.au/assets/images/Omni-Quote-Template_Machine_Superplus-5_img2.png" width="100%"></td>
                        </tr>
                        <tr>
                            <td><img src="https://zoho.omnigroup.com.au/assets/images/Omni-Quote-Template_Machine_Superplus-5_img3.png" width="100%"></td>
                        </tr>
                        <tr>
                            <td>
                                    <table cellspacing="0" cellpadding="5" border="1" width="100%" style="border-collapse: collapse;border-color: #76797b;">
                                    <thead>
                                        <tr>
                                            <td colspan="2" style="font-size: 1rem;background: #76797b;color:#fff;font-weight: bold">Specifications</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td width="50%" style="background: #f2f4f4;font-size: 1rem;">Height</td>
                                            <td width="50%" style="font-size: 1rem;">2466mm</td>
                                        </tr>
                                        <tr>
                                            <td width="50%" style="background: #f2f4f4;font-size: 1rem;">Width</td>
                                            <td width="50%" style="font-size: 1rem;">1650mm</td>
                                        </tr>
                                        <tr>
                                            <td width="50%" style="background: #f2f4f4;font-size: 1rem;">Length</td>
                                            <td width="50%" style="font-size: 1rem;">2380mm</td>
                                        </tr>
                                        <tr>
                                            <td width="50%" style="background: #f2f4f4;font-size: 1rem;">Turntable Height</td>
                                            <td width="50%" style="font-size: 1rem;">86mm</td>
                                        </tr>
                                        <tr>
                                            <td width="50%" style="background: #f2f4f4;font-size: 1rem;">Machine Weight</td>
                                            <td width="50%" style="font-size: 1rem;">400kg</td>
                                        </tr>
                                        <tr>
                                            <td width="50%" style="background: #f2f4f4;font-size: 1rem;">Power Supply</td>
                                            <td width="50%" style="font-size: 1rem;">240 Volt</td>
                                        </tr>
                                        <tr>
                                            <td width="50%" style="background: #f2f4f4;font-size: 1rem;">Power Absorption</td>
                                            <td width="50%" style="font-size: 1rem;">1kW</td>
                                        </tr>
                                        <tr>
                                            <td width="50%" style="background: #f2f4f4;font-size: 1rem;">Weight Capacity</td>
                                            <td width="50%" style="font-size: 1rem;">2500kg</td>
                                        </tr>
                                        <tr>
                                            <td width="50%" style="background: #f2f4f4;font-size: 1rem;">Wrapping Height</td>
                                            <td width="50%" style="font-size: 1rem;">2400mm</td>
                                        </tr>                                     

                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>           
        </tbody>
    </table>
    <table align="center" style="margin-top:100px;" width="100%">
        <tr>
            <td align="center"><img src="https://zoho.omnigroup.com.au/assets/images/AwardWinningPallets.png" width="100%"></td>
        </tr>       
    </table>
   

    