<!DOCTYPE html>
<html>

<head>
    <title>
        <%= name %>
    </title>
    <% include partials/scripts %>
</head>

<body>
    <% include partials/menu %>
        <div class="content">
            <center style="padding-top:9%"><img src="https://zoho.omnigroup.com.au/assets/images/comingsoon.gif" width="55%"></center>
        </div>
</body>

</html>