<!DOCTYPE html>
<html>

<head>
    <% include partials/scripts %>
</head>

<body>
        <div class="content">
            <center class="home">Cannot generate Quote as margin is below 25%</center>
        </div>
</body>

</html>
